<div class="card hero">
    <h1>Prema Varsitha Palapala</h1>
    <h2></h2>
  
    <p>
      Proactive and dedicated fresher with strong problem-solving,
      adaptability, and a passion for building real-world applications.
    </p>
  
   
    <div class="social-links">
      <!-- GitHub -->
      <a
        href="https://github.com/Varshitha-2002"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    
      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/in/prema-varsitha-palapala-700492243"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div> <br>
    <!---Email-->
    <a
  href="mailto:varsithaprema@gmail.com"
  aria-label="Email"
>
  <i class="fa-solid fa-envelope"></i>
</a>
 <br>
    <a
  href="assets/Prema-Varsitha-Palapala-Resume.pdf"
  download
  class="resume-btn"
>
  <i class="fa-solid fa-download"></i>
  Download Resume
</a>

      </div>
      
    
  
  